<!doctype html>
<html lang="{{ site.lang }}" class="no-js" data-env="{{ site.env }}">
<head>
{% include "partials/head.njk" %}
</head>
<body>
  <a class="sp-skip-link" href="#main">Skip to content</a>

  {% include "partials/header.njk" %}

  {# A source template that opens with a hero absorbs the fixed header offset itself. #}
  <main id="main" tabindex="-1"
        class="sp-main{% if templates[sourceTemplate] and templates[sourceTemplate].hasHero %} sp-main--flush{% endif %}">
    {{ content | safe }}
  </main>

  {% include "partials/footer.njk" %}

  {% include "partials/analytics-body.njk" %}
  <script type="module" src="/assets/js/main.js?v={{ site.assetVersion }}"></script>
</body>
</html>
